@use '../abstracts' as *;

.home-hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: $color-white;
    text-align: center;

    h1, h2 {
        color: $color-primary;
    }

    .web-title {
        font-size: clamp(44px, 4vw, 86px);
        font-weight: 400;
    }

    .web-subtitle {
        font-size: clamp(24px, 4vw, 46px);
        font-weight: 400;
    }
}

