@use '../abstracts' as *;

.home-section__01 {
    p {
        font-size: 40px;
    }
}

.image__home-section-01 {
    background-image: url('/public/images/daniela-porta.jpg');
    flex: 1;
    background-size: cover;
    background-position: center;
    aspect-ratio: 3/4;
    border-radius: 50% 50% 0 0/40% 40% 0 0; /* masque arrondi */
    overflow: hidden;
}