
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
}

.container-fluid {
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
}

.width-100 {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    
    &-column {
        flex-direction: column;
    }

    &-row {
        flex-direction: row;
    }

    &-row-reverse {
        flex-direction: row-reverse;
    }

    &-column-reverse {
        flex-direction: column-reverse;
    }

    &-wrap {
        flex-wrap: wrap;
    }

    &-nowrap {
        flex-wrap: nowrap;
    }

    &-wrap-reverse {
        flex-wrap: wrap-reverse;
    }

    &-center {
        justify-content: center;
    }

    &-start {
        justify-content: flex-start;
    }

    &-end {
        justify-content: flex-end;
    }

    &-between {
        justify-content: space-between;
    }

    &-around {
        justify-content: space-around;
    }

    &-evenly {
        justify-content: space-evenly;
    }

    &-center {
        align-items: center;
    }           

    &-start {
        align-items: flex-start;
    }

    &-end {
        align-items: flex-end;
    }

    &-baseline {
        align-items: baseline;
    }

    &-stretch {
        align-items: stretch;
    }
}

.flex-basis-50 {
    flex-basis: 50%;
    flex-shrink: 0;
}

.flex-basis-25 {
    flex-basis: 25%;
    flex-shrink: 0;
}

.flex-basis-75 {
    flex-basis: 75%;
    flex-shrink: 0;
}

.flex-basis-33 {
    flex-basis: 33.333%;
    flex-shrink: 0;
}

.flex-basis-66 {
    flex-basis: 66.66666%;
    flex-shrink: 0;
}

.gap-16 {
    gap: 16px;
}

.gap-24 {
    gap: 24px;
}

.gap-40 {
    gap: 40px;
}